h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  color: red;
  padding-top: 40px;
}

form{
  padding-top: 40px;
  text-align: center;

}
main div {
	width: 720px;

	padding: 40px 0;
	padding-bottom: 80px;
}

.form-check-input{
  margin-left: 0px;
}

.titulo {
  text-align: center;
}
.opcoes{
  text-align: center;
}
.form-check-label{
  padding-right:  10px;
}

.col-sm-10{
  padding-left: 200px;
}
.form-group .opcoes{
  text-align: center;
}
