
<main>
<h1>Perfil do investidor - questionário</h1>

<div>

{{f.valid}}
{{f.value | json }}
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
<!--Buscar os dados do checkbox-->
<app-perguntas></app-perguntas>
<!-- segunda parte do form-->
<div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-outline-warning"  [routerLink]="['']"  value="voltar">voltar</button>
      <button type="submit" class="btn btn-warning" [routerLink]="['/confirma-cadastro']" value="salvar">salvar</button>
    </div>
  </div>

</form>
</div>
